.button{
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #fecd38;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover{
    transition: background-color 0.5s, color 0.5s;
    background-color: white;
    color: rgb(43, 43, 43);
}

.button:disabled{
    cursor: not-allowed;
}

button.active{
    background-color: rgb(76, 76, 76);
    color: rgb(255, 255, 255);
}